.header {
    background: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 0;
    box-shadow: 0px 5px #00000026;
    z-index: 1;
}

.main {
    background: url(/images/wallpaper.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;

    .shop {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}