.main {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;

    .shop {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        max-width: 100%;
        overflow: auto;
        scroll-snap-type: x mandatory;
        padding: 10px;
    }
}