@font-face {
  font-family: 'Minercraftory';
  src: url(/fonts/Minercraftory.ttf);
}

@font-face {
  font-family: 'Minecraftia';
  src: url(/fonts/Minecraftia-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Minecraftia';
  user-select: none;
  -webkit-user-drag: none;
}

h1, h2, h3 {
  font-family: Minercraftory
}

button {
  width: fit-content;
  padding: 10px;
  border-radius: 0;
  border-top: 4px solid #16d449;
  border-left: 4px solid #009829;
  border-right: 4px solid #009829;
  border-bottom: 4px solid #007921;
  outline: 2px solid black;
  background: linear-gradient(0deg, #009829, #00b832);
  cursor: pointer;
  color: white;
  font-family: 'Minercraftory';
  text-shadow: 0px 2px #4a4a4a;
  transition: all .4s ease;
  box-shadow: 9px 7px #00000026;
  display: flex;
  align-items: center;
  gap: 10px;
}
button:hover {
  background: linear-gradient(0deg, #00a52d, #009027);
}