@font-face {
  font-family: 'Minercraftory';
  src: url(/fonts/Minercraftory.ttf);
}

@font-face {
  font-family: 'Minecraftia';
  src: url(/fonts/Minecraftia-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-drag: none;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-family: 'Minercraftory';
  cursor: pointer;
  font-size: small;
  display: flex;
  align-items: center;
}

body {
  font-family: 'Minecraftia';
  user-select: none;
  -webkit-user-select: none;
  text-shadow: 3px 3px #00000047;
  color: white;
  overflow-x: hidden;
  width: 100dvw;
  min-height: 100dvh;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-image: url('/images/wallpaper.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

h1, h2, h3 {
  font-family: 'Minercraftory';
  text-shadow: 0 4px #00000047;
}

button {
  width: fit-content;
  padding: 10px;
  border-radius: 0;
  border-top: 4px solid #16d449;
  border-left: 4px solid #009829;
  border-right: 4px solid #009829;
  border-bottom: 4px solid #007921;
  outline: 2px solid black;
  background: linear-gradient(0deg, #009829, #00b832);
  cursor: pointer;
  color: white;
  font-family: 'Minercraftory';
  text-shadow: 0px 2px #4a4a4a;
  transition: all .4s ease;
  box-shadow: 9px 7px #00000026;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: small;
  text-decoration: none !important;
}
button:hover {
  background: linear-gradient(0deg, #00a52d, #009027);
}

input, textarea, select {
  font-family: 'Minecraftia';
  padding: 8px;
  background: #2f2f2f;
  color: white;
  border-top: 4px solid #232323;
  border-left: 4px solid #292929;
  border-right: 4px solid #585858;
  border-bottom: 4px solid #646464;
  font-size: 16px;
  border-radius: 0px;
  align-content: center;
}
input:focus-visible, textarea:focus-visible, select:focus-visible {
  border-width: 2px;
  outline: 2px solid white;
  padding: 10px;
}

strong {
  font-weight: normal;
  font-family: 'Minercraftory';
}

p {
  display: flex;
  align-items: center;
  gap: 8px;
}