@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

.popup-overlay {
    backdrop-filter: blur(5px);
    background: #00000059;
}

.popup-content {
    background-color: #373737;
    border: none;
    max-width: 50dvw;
    display: flex;
    flex-direction: column;
    box-shadow: 9px 7px #00000026;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;

    @media (max-width: 500px) {
      max-width: 90dvw;
    }

    .modal {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .header {
        align-self: center;
        font-family: 'Minercraftory';
        font-size: x-large;
        display: flex;
        align-items: center;
        gap: 4px;

        img {
            height: 36px;
            image-rendering: pixelated;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 16px;
        align-self: center;
    }
}